# how to run unit test

```bash

## test-headless
ng test --watch=false --browsers=ChromeHeadless

ng test --code-coverage 
```